$color-nonmetals:#AFE095;
$color-alkali:#F53F3F;
$color-alkaline:#FB8585;
$color-other:#e6ffe6;
$color-halogens:#7AAAF2;
$color-gases:#93A3FC;
$color-transition:#F2EE71;
$color-posttransition:#C4BBDF;
$color-metalloids:#61B098;