.non_metals, .alkali_metals, .alkaline_metals, .transition_metals, .empty, .post-transition, .metalloids, .noble_gases, .halogens{
width:60px;
height:90px;
float:left;
padding:4px;
text-align:center;}

.noble_gases{
background:$color-gases;}

.halogens{
background:$color-halogens;}

.non_metals{
background:$color-nonmetals;}

.alkali_metals{
background:$color-alkali;}

.alkaline_metals{
background:$color-alkaline;}

.transition_metals{
background:$color-transition;}

.post-transition{
background:$color-posttransition;}

.metalloids{
background:$color-metalloids;}